body {
    background-color: #F5EAEA;
}
h1, h3 {
    color: #0A2647;
}
p {
    text-align: left; word-spacing: 4px;
}
em {
    color: #567189;
}
p {
    color: #2C3333;
}
th {
    color: #005555;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  html {
    background-color: #2C3333;
  }
  .full {
    background-color: #0A2647;
  }